* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: "Century Gothic", "Poppins", sans-serif;
  background: #F5EEF0; 
  color: #333333;
}

/*login*/
.login-wrapper {
  display: flex;
  min-height: 100vh;
}

/* left */
.left-side {
  width: 50%;
  background:#F5EEF0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side img {
  width: 80%;
  max-width: 520px;
}

/* right */
.right-side {
  width: 50%;
  padding: 60px 80px;
}

.login-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 20px;
}

.label-title {
  font-size: 17px;
  font-weight: 600;
  display: block;
  margin-bottom: 12px;
}

/* INPUT */
.input-group {
  width: 450px;
  display: flex;
  align-items: center;
  border: 1px solid #B27FA9; 
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 25px;
  background: #fff;
}


.input-group input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  padding: 6px 4px;
}


.icon-email, .icon-password {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  flex: 0 0 18px;
  display: inline-block;
  
}

.icon-email::before { 
  content: ""; 
  display:block; 
  width:100%; 
  height:100%; 
  transform:skewY(-25deg); 
  border-top:2px solid #6A1A37; 
  border-left:2px solid transparent; 
  border-right:2px solid transparent; 
  margin-top:-2px; 
}


.icon-password::before { 
  content:""; 
  display:block; 
  width:10px; 
  height:10px; 
  border:2px solid #6A1A37; 
  border-bottom:none; 
  border-radius:4px 4px 0 0; 
  margin-top:-12px; 
  margin-left:3px; 
}


.forgot { 
  text-align: right; 
  font-size: 13px; 
  margin: -4px 0 12px; 
  color: #9C4D78; 
  margin-bottom: 18px;
  margin-top: 18px;
  margin-right: 30px;
}



/* Button login */
.btn-login {
  width: 450px;
  padding: 12px;
  background:#6A1A37; 
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-login:hover { 
  background:#9C4D78; 
}

/* Divider */
.divider { 
  display:flex; 
  align-items:center; 
  margin:18px 0; 
}

.divider::before, .divider::after { 
  content:""; 
  flex:1; 
  width: 225px;
  height:1px; 
  color: #121111;
  background:#B27FA9; 
}


.divider span { 
  margin:0 12px; 
  color:#121111; 
  font-size:13px; 
}


/* google n fb */
.social-box {
  width: 450px; 
  display:flex; 
  gap:12px; 
  margin-bottom:12px;
}
.social-box img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 20px;
  align-items: center;
}

.btn-social { 
  flex:1; 
  padding:10px; 
  border: 50px;
  border-radius:8px; 
  border:1px solid #B27FA9; 
  background:#fff; 
  cursor:pointer; 
  align-items: center;
  margin-bottom: 18px;

}




/* Error */
.error-text { 
  color: #c62828; 
  margin-top:10px; 
  text-align:center; 
}

.signup {
  text-align: center;
  margin-bottom: 40px;
}

/*dashboard*/
.container { 
  display:flex; 
  min-height:100vh; 
}


/* Sidebar */
.sidebar {
  width:90px;
  background:#6A1A37; 
  border-right:1px solid #9C4D78;
  display:flex;
  flex-direction:column;
  gap:18px;
  align-items:center;
  padding:50px 10px;
}

.icon { 
  width:40px;
  padding: 20px 5px; 
  opacity:0.8; 
  cursor:pointer; 
  transition:transform .15s, opacity .15s; 
  color: #fff; 
  filter: invert(100%); 
}


.icon:hover { 
  transform:scale(1.08); 
  opacity:1; 
}



.content { 
  flex:1; 
  padding:28px; 
  background:transparent; 
}


.dashboard-title { 
  font-size:28px; 
  font-weight:600; 
  margin-top: 50px;
  margin-bottom: 50px; 
}



.card-wrapper { 
  display:flex; 
  gap:20px; 
  margin-bottom:20px; 
  flex-wrap:wrap; 
}


.card {
  width:300px;
  background:#f4c1d3;
  padding:18px;
  border-radius:10px;
  border:1px solid #B27FA9; 
  text-align:center;
}

.card-icon { 
  width:40px; 
  margin-bottom:8px; 
  opacity:0.9;
  color: #9C4D78;
  }


.card-title { 
  font-size:15px; 
  color:#6A1A37; 
}


/*(Lihat Data Produk) */
.btn { 
  padding:10px 16px; 
  border-radius:8px; 
  background:#6A1A37; 
  color:#fff; 
  border:none; 
  cursor:pointer;
}

.btn:hover { 
  background:#9C4D78; 
}

/*Tabel product */
.product-table { 
  width: 190%; 
  border-collapse:collapse; 
  margin-top:12px; 
  background:#fff; 
  border:1px solid #B27FA9; 
}


.product-table th, .product-table td { 
  padding:10px 8px; 
  border:1px solid #B27FA9; 
  text-align:center; 
}

.product-table th { 
  background:#6A1A37; 
  font-weight:600; 
  color:#fff; 
}


.btn-edit { 
  background:#9C4D78; 
  color:#fff; 
  padding:12px 12px; 
  border-radius:6px; 
  border:none; 
  cursor:pointer;
}

.btn-delete { 
  background:#c62828; 
  color:#fff; 
  padding:12px 12px; 
  border-radius:13px; 
  border:none; 
  cursor:pointer; 
}

.btn-produk {
  width: 20%;
  height:10%;
  background-color: #6A1A37;
  margin-top:  100px;
  border-radius: 13px ;
  font-size: 13px;
  color: #fff;
}

/* Responsive */
@media (max-width: 900px) {
  .login-wrapper { 
    flex-direction:column;
    }

  .left-side, .right-side {
      width:100%; 
    }

  .content { 
    padding:16px; 
  }

  .card { 
    width: 100%;
    }
}